<%layout('layout')%>
<style>
  body {
      background-image: url('https://4.bp.blogspot.com/-ZX4y5nvsnaU/XorLKVFYV5I/AAAAAAAAXGk/mN8YXl51-DgB88_qa65s1mDc5mMRBvGEQCLcBGAsYHQ/w919/money-heist-netflix-series-cast-characters-uhdpaper.com-4K-6.1120-wp.jpg');
      background-size: cover;
      background-repeat: no-repeat;
  }
</style>
<div class="d-flex justify-content-center align-items-center flex-grow-1">
  <table class="table table-dark table-hover border"  style="width: 70%; background-color: transparent;">
    <thead>
      <tr >
        <th scope="col"  style="background-color: transparent;">serial no</th>
        <th scope="col"  style="background-color: transparent;">Name</th>
        <th scope="col"  style="background-color: transparent;">Account NO.</th>
        <th scope="col"  style="background-color: transparent;">Amount</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% for (let i=0; i < CustomerData.length; i++) { %>
        <tr>
          <th scope="row"  style="background-color: transparent;">
            <%= i + 1 %>.
          </th>
          <td  style="background-color: transparent;">
            <a class="text-white" href="/sparkbank/customers/<%= CustomerData[i].id %>"><%= CustomerData[i].name %></a>
          </td>
          <td  style="background-color: transparent;">
            <%= CustomerData[i].account%>
          </td>
          <td  style="background-color: transparent;">
            ₹<%= CustomerData[i].amountAvailable %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</div>