<%layout('layout')%>
<style>
    body {
       background: linear-gradient(to right, 	#9e0217, black);
       margin: 0;
       padding: 0;
       font-family: Arial, sans-serif;
       height: 100vh;
     }
 </style>
    <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <div class="card text-bg-dark" style="width: 35rem;">
            <div class="card-header">
                <div class="mb-3">
                <h1 class="card-title">Transferring Money</h1>
            </div>
            <div class="mb-3">
                <h3 class="card-text">Form Account: <%= oneCustomerData.name %></h3>
            </div>
            <div class="mb-3">
                <p class="card-text">Ammount Available: ₹<%= oneCustomerData.amountAvailable %></p>
            </div>
            </div>
            <ul class="card-body">
                <form action="/sparkbank/customers/<%=oneCustomerData.id%>" method="post">
                    <li class="list-group-item">
                        <div class="mb-3">
                            <label for="customer" class="form-label">Recipient Account Holder Name:</label>
                            <select style="width:90%;" class="form-control" id="customer" name="customer">
                                <option value="" disabled selected>Select an option</option>
                                <% for (const data of otherCustomerData) { %>
                                    <option value="<%= data.id %>">
                                        <%= data.name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount to Transfer:</label>
                            <input style="width:90%;" type="number" class="form-control" id="amount" name="amount">
                        </div>
                    </li>
                    <li class="list-group-item"><button type="submit" class="btn btn-primary">Send</button></li>
                </form>
            </ul>
        </div>
    </div>